header{
    width: 100%;
    height:auto;
}
header .bigBox{
    width: 1190px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
header .bigBox .brand{
    width: 219px;
    height: 80px;
    position: relative;
}
header .bigBox .nav{
    width: 971px;
    height: 80px;
    float: right;
}
header .bigBox .nav ul{
    width: 971px;
    height: 48px;
    margin: 16px  0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
header .bigBox .nav ul li{
    width: auto;
    height: 48px;
    display: inline-block;
    margin: auto 62px auto 0;

}
header .bigBox .nav ul li:nth-child(7){
    margin-right: 0;
}
header .bigBox .nav ul li a{
    display: block;
    width:100%;
    height: 48px;
    /*text-decoration: none!important;*/
    line-height: 48px;
}
header .bigBox .nav ul li a span{
    width: auto;
    font-size: 14px;
    color: #333333;
    position: relative;
}
header .bigBox .nav ul li a span i{
    width: 100%;
    height: 1px;
    position:absolute ;
    top: 40px;
}
header .bigBox .nav ul li:nth-child(1) a span i{
    display: block;
    background-color: #757575;
}
header .bigBox .nav ul li:nth-child(1) a span{
    color: #757575;
}
header .bigBox .nav ul li a:hover span{
    color: #757575;
}
header .bigBox .nav ul li a:hover span i{
    width: 100%;
    opacity: 1;
    left: 0;
    background-color: #757575;
    transition: 1s;
}
section{
    width: 100%;
    height: auto;
}
section .biaoTi{
    width: 1200px;
    height: 39px;
    background-color: #f4f4f4;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
section .biaoTi .title{
    width: 28px;
    height: 19px;
    margin-left: 20px;
}
section .biaoTi .title a{
    width: 100%;
    height: 100%;
    /*margin-right: 2px;*/
    color: #56aa34;
    font-size: 14px;
    font-family: 微软雅黑;
    line-height: 19px;
    text-align: center;
}
section .biaoTi span{
    display: block;
    width: 22px;
    height: 19px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #999999;
    /*margin-left: 2px;*/
    text-align: center;

}
section .biaoTi .word{
    width: 56px;
    height: 19px;

}
section .biaoTi .word span{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #999999;
    /*margin-right: 2px;*/
    text-align: center;
    line-height: 19px;
}
section .bottom{
    width: 1200px;
    height:498px;
    background-color:  #f4f4f4;
    margin: 10px auto;
    position: relative;
    display: flex;
}
section .bottom .left{
    width:278px;
    height:64px;
    background-color: #60c14d;
    margin-left: 0;
    margin-top: 0;
    position: relative;
}
section .bottom .left .aboutUs{
    width: 72px;
    height: 24px;
    position: absolute;
    left: 40px;
    top: 15px;
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    display: inline-block;
    float: left;
}
section .bottom .left .ABOUT{
    width: 98px;
    height: 16px;
    font-family: arial;
    position: absolute;
    top: 23px;
    left: 112px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    display: inline-block;
    padding: 0 0 0 5px;
    float: left;
}
section .bottom .left .line{
    width: 238px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    top: 41px;
    left: 40px;
}
section .bottom .right{
    width:818px;
    height:498px;
    margin: 0 auto;
    position: relative;
}